*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
}



.nav {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  /*border: 1px solid blue;*/
}
.nav a {
  text-decoration: none;
  display: inline-block;
  width: 33%;
  padding-right: 10px;
}

hr {
  width: 90%;
}

.main {
  width: 100%;
  float: right;
  /*border: 1px solid black;*/
  padding: 20px;
  text-align: center;
}

.container {
  width: 98%;
  /*border: 1px solid black;*/
  overflow: auto;
  margin: 0 auto;
}

.gallery img {
  max-width: 16%;
  min-width: 100px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
}

.gallery {
  /*border: 1px solid black;*/
  width: 100%;
  text-align: center;
}

.col1 {
  border: 1px solid black;
  float: right;
  width: 65%;
}

.sidebar {
  margin-top: 20px;
  float: left;
  width: 35%;
  border: 1px solid black;
}

.sidebar img {
  max-width: 300px;
  width: 50%;
  margin: 0 auto;
  display: block;
}
/*.main {float: right;}*/
